<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="naver.rlgns1129.broadcastreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <!-- 다른 앱에서 아래 문자열을 가지고 방송을 하면
            MyReceiver 클래스의 onReceive 가 호출 -->
            <intent-filter>
            <action android:name="naver.rlgns1129.sendbroadcast" />
            <!--시스템 브로드 캐스트 설정
            전원연결이 해제되면 호출 -->
            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>


        </receiver>

        <activity android:name=".ReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>